body{
    background: white;
    display: none;
}
.navbar{
    background: white;
}
.container{
    width: 100%;
    margin: 0;
}
.left-col{
    border: solid 1px teal;
    width: 20%;
    height: 80vh;
    position: fixed;
}

.left-div{
    width: 100%;
    margin-top: 25vh;
}
.left-div div{
    margin-top: 20px;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background: teal;
    border: solid 1px white;
}
.left-div div>a{
    text-decoration: none;
    /* padding: 10px; */
    background: teals;
    color: white;
    background: teal;
    width: 100%;
}

/* right column */

.right-col{
    width: 79%;
    /* border: solid 1px red; */
    margin-left: 20%;
    justify-content: center;
    align-items: center;
    /* background: teal; */
}
#blog{
    width: 98%;
    margin: auto;
    background: white;
    cursor: pointer;
    display: none;
}
.blog-title{
    width: 100%;
    text-align: center;
}
.blog-header{
    width: 100%;
    display: flex;
}
.blog-pc{
    width: 40%;
    /* border: solid 1px red; */
    text-align: center;
}
.blog-pc img{
    background: gray;
    height: 300px;
    width: 100%;
}
#upload{
    padding: 10px 20px;
}
.blog-desc{
    width: 60%;
    border: solid 1px black;
}
.blog-desc div{
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}
textarea{
    background: rgb(204, 211, 214);
    border: solid 1 gray;
}
.blog-content{
    text-align: center;
    width: 100%;
}
.blog-content div{
    padding: 20px;
}
#two{
    background: white;
    color: black;
}

/* comments */
#comment{
    /* margin-top: 20vh; */
    background: white;
    /* display: none; */
    background: teal;
}
#fcomment{
    margin: 40px;
}
.messageInfo{
    width: 60%;
    margin: auto;
    border: solid 1px black;
    padding: 30px;
    border-radius: 20px;
    background: white;
    margin-top: 20px;
}
.cont div{
    text-align: left;
    padding: 10px;
    background: rgb(236, 222, 222);
}
.mess{
    background: rgb(151, 228, 211);
    padding: 20px;
}

/* Blog */

#pContainer{
    margin: 0;
    display: none;
    background: white;
}
.dltBtn{
    background: rgb(10, 10, 10);
    padding: 10px;
}
.updBtn{
    background: rgb(62, 136, 28);
    padding: 10px;
}
.prow{
    /* display: none; */
    /* background: teal; */
}