<!DOCTYPE hmtl>
<html>
<head>
	<title>Portifolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/My Brand.css">
	<link rel="stylesheet" type="text/css" href="../css/portfolio.css">
	<link rel="stylesheet" type="text/css" href="../font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<section class="nav-logo">
		<ul>
			<li class="logo">MYBRAND<br>LOGO</li>
			<div>
				<li><a href="../index.html">Home</a> </li>
				<li> <a href="../my Brand.html#about">About us</a></li>
				<li> <a href="./contactus.html">Contact</a></li>
				<li> <a href="#">Blog</a></li>
				<li class="login"><button>Login</button></li>
			</div>			
		</ul>
	</section>

	<div class="pContainer" id="pContainer">
	</div>
	<script type="module" src="../js/blog.js"></script>
</body>
</html>